* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  font-family: "oswald", sans-serif;
}
header {
  background: url(../img/brooke-lark-jUPOXXRNdcA-unsplash.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  height: 100vh;
}
body {
  background: rgb(248, 235, 190);
  background: linear-gradient(
    126deg,
    rgba(248, 235, 190, 1) 0%,
    rgba(178, 238, 150, 1) 100%
  );
}

h1 {
  font-size: 240px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding: 2%;
  color: rgb(239, 232, 190);
  text-shadow: 5px 10px 12px black;
}
h2 {
  font-size: 220px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(239, 232, 190);
  text-shadow: 5px 10px 12px black;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(129, 188, 117);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper {
  clip-path: circle(75%);
}
.menu-btn {
  background-image: url(../img/160-1609028_transparent-vegan-logo-png-emblem-png-download.png);
  position: absolute;
  z-index: 2;
  right: 14px;
  /* left: 20px; */
  top: 14px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 80px;
  color: #fff;
  cursor: pointer;
  background: rgb(6, 124, 41);
  transition: ALL 0.3s ease-in-out;
}
.user {
  background-image: url(../img/100-percent-vegan-logo-a-vegetarian-icon-green-vector-26981030.jpg);
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
}
#active:checked ~ .menu-btn {
  color: #fff;
}
.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  margin: 15px 0;
}
.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 40px;
  font-weight: 400;
  padding: 5px 30ox;
  color: rgb(254, 253, 253);
  border-radius: 50px;
  background: rgb(129, 188, 117);
  position: relative;
  line-height: 70px;
  transition: all 0.3s ease;
}
.wrapper ul li a::after {
  position: absolute;
  content: "";
  background: #fff;
  background: rgb(0, 255, 13);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -8;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover::after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: rgb(5, 95, 24);
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #b0a9a9;
}
.content.title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

img {
  display: flex;
  width: 20%;
  align-items: flex-start;
  flex-direction: row;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 7px;
}
.column:hover {
  transform: scale(1.2);
  cursor: pointer;
  /* box-shadow: 5px 5px 10px rgb(108, 227, 116); */
}

/* about food */
.txt {
  font-size: 90px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.section {
  display: flex;
  flex-direction: row;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  margin: auto;
  padding: 2px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container1 {
  padding: 2px 16px;
}
/* FOOTER */

footer {
  font-size: 14px;
  text-align: center;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(10, 105, 40);
}

a:active {
  color: brrgb(131, 251, 161);
}
